[submodule "modules/xorg"]
	path = modules/xorg
	url = git@github.com:BlueDragonX/fm-dot-xorg.git
[submodule "modules/vim"]
	path = modules/vim
	url = git@github.com:BlueDragonX/fm-dot-vim.git
[submodule "modules/i3"]
	path = modules/i3
	url = git@github.com:BlueDragonX/fm-dot-i3.git
[submodule "modules/irssi"]
	path = modules/irssi
	url = git@github.com:BlueDragonX/fm-dot-irssi.git
[submodule "modules/git"]
	path = modules/git
	url = git@github.com:BlueDragonX/fm-dot-git.git
