[submodule "modules/vim/bundle/command-t"]
	path = modules/vim/bundle/command-t
	url = git://github.com/wincent/command-t.git
[submodule "modules/vim/bundle/vim-airline"]
	path = modules/vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline
[submodule "modules/vim/bundle/vim-gitgutter"]
	path = modules/vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter
[submodule "modules/i3/i3blocks"]
	path = modules/i3/i3blocks
	url = https://github.com/vivien/i3blocks
